.outerdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerdiv {
  display: flex;
  flex-direction: row;
}

.button {
  background-color: #4a86e8;
  color: white;
  border-color: #4a86e8;
  border-width: 0;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  font-family: "Amazon Ember", sans-serif;
  font-weight: 500;
  font-size: large;
}

.button:hover {
  background-color: #d9654c;
}
.headingQR {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin-left: 15%; */
  background-color: #f87558;
}

.subheadingQR {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
