.container {
  display: flex;
  height: 100vh;
  background-color: #f5f5f5;
}
.mobileScreen {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  position: relative;
  overflow: scroll;
}
.content {
  padding: 20px;
}
.heading {
  font-size: 24px;
  font-weight: bold;
  color: #1f2937;
}
.title {
  background-color: #f87558;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.para {
  font-size: medium;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
.textField {
  width: 99%;
  height: 50px;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  display: flex;
  resize: vertical;
}
.dropdown {
  height: 50px;
  width: 100%;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  display: flex;
}
.btn {
  margin-top: 40px;
  background-color: #4285f4;
  color: rgb(255, 255, 255);
  border-radius: 2px;
  width: 100%;
  height: 50px;
  font-family: "Amazon Ember", sans-serif;
  font-weight: 500;
  font-size: large;
  border-width: 1px;
}
.btn:hover {
  background-color: #3169c4;
  cursor: pointer;
}
.bottomContainer {
  position: relative;
  bottom: 5px;
  width: 100%;
  display: flex;
  padding: 10px;
  border-width: 0px;
}
.chatinput {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.chatinput .bottomInput {
  flex: 100%;
  padding: 11px;
  position: relative;

  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  resize: both;
  overflow-y: auto;
  box-sizing: border-box;
}
.searchButton {
  flex: 30%;
  height: 44px;
  color: #f5f5f5;
  background-color: #f9cce4;
  position: relative;
  border-radius: 5px;
  margin-right: 5px;
  font-weight: 500;
  padding: 0 8px;
  border-radius: 5px;
  margin-top: 7px;
  bottom: 5px;
}
.searchButton:hover {
  background-color: #c2d7e7;
  cursor: pointer;
}
.message {
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  font-size: 14px;
}
.userMessage {
  display: flex;
  background-color: #e9e8d9;
  color: #000000;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  margin-left: auto; /* Updated property */
  margin-right: 15px;
  align-items: end;
  justify-content: end;
  width: fit-content;
}
.botMessage {
  display: flex;
  background-color: #c2d7e7;
  color: #000000;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  margin-right: 50px;
  margin-left: 15px;
  width: fit-content;
}

.outerWelcome {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeMessage {
  color: whitesmoke;
  font-size: x-large;
  font-weight: 800;
}
.welcomePara {
  color: whitesmoke;
  font-size: large;
  margin: 0px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
