.heading {
  font-size: x-large;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.button {
  margin-top: 20px;
  background-color: #4285f4;
  color: white;
  border-color: #4285f4;
  border-width: 0;
  border-radius: 5px;
  width: 250px;
  height: 50px;
  font-family: "Amazon Ember", sans-serif;
  font-weight: 500;
  font-size: large;
}
.button:hover {
  background-color: #3169c4;
}
.bdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dropdown {
  width: 200px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dropdown option {
  font-size: 16px;
}
